.tabs {
    display:inline-block;
    width: 100%;
    background-color: transparent;
}

.tabs table {
    width: 100%;
}

.tabs > div{
    /*padding-top:10px;*/
}
.tabs ul {
    margin:1px;
    padding:0px;
}
.tabs ul:after {
    content:"";
    display:block;
    clear:both;
}
.tabs ul li {
    margin:0px 4px 0px 0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    background-color: rgba(0,0,0,0.1);
    color:#000;
    border-radius: 5px 5px 0px 0px;
}
.tabs ul li.active, .tabs ul li.active:hover {
    background-color: rgba(0,0,0,0.2);
    color:#fff;

}
.tabs ul li:hover {
    background-color: rgba(0,0,0,0.3);
}

.tabs td {
    margin:5px;
    padding:5px;
}