html {
    font-family: sans-serif;
    color: #000;
    text-decoration: none;
    background-color: #ffffff;
}
h2 {
    color: #555;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: none;
    color: #000000;
}

table {
    border: 0px;
    background-color: rgba(0,0,0,0.05);
}

table tr:nth-child(odd){
    background-color: rgba(0,0,0,0.05);
}

table tr:nth-child(even){
    /*background-color: rgba(0,0,0,0.3);*/
}



#main {
    /*display: inline;*/
    width: 100%;
}


.section {
    display: block;
    background-color: rgba(0,0,0,0.15);
    overflow-wrap: break-word;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    width: 250px;

}

button, select {
    display: inline-block;
    height: 38px;
    padding: 0 15px;
    margin: 5px;
    color: #444;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    /* line-height: 38px; */
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #ccc;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    cursor: pointer;
    box-sizing: border-box;
}